@import url('https://fonts.googleapis.com/css?family=Cinzel|Hind&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#wrapper {
	width: 100%;
	max-width:1024px;
	margin: auto;
}

header {
		background: #112d32;


}
nav {
	text-align: center;
	width: 100%;
}

nav a {

	display: inline-block;
	/*width: 100px;*/
	width: 32.3%;
	text-align: center;
	/*padding-left: 30%;
	padding-right: 30%;*/
}
nav a:hover {
	background: #88bdbc;
}


.container {
	width: 100%;
	max-width: 1024px;
	margin: 0, auto;
	border:double;
	


}
.background1 {
	display: flex;
	background: #254e58;
	width: 100%;
	/*padding: .5em;*/
/*	margin:auto;
*/	
/*clear: both;*/
	/*border:5px black solid;*/

}

#name {
	color: #88bdbc;
	/*background: teal;*/
	text-align: center;
	width: 53%;
	max-width: 552.96px; 
	float: right;
	/*margin: auto;*/
	/*display: inline-block;	*/
	font-family: "Cinzel", serif;
	
}
/*.clearfix {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;}*/

#name h1{
	font-size: 52px;
	text-transform: uppercase;
	margin-bottom: .01em;
	margin-top: 1.5em;

}

#name h2 {
	font-size: 28px;
	text-transform: uppercase;
	
}
#easterisland {
	width: 65%;
	max-width: 460.8px;
	min-width: 460.8px;
	/*display: inline;*/
	padding:.5em;
	margin: .5em;
}

.slogan {
	clear:both;
	background: #88bddc;
	line-height: 2em;
}
body {
	font-family: "Verdana", sans-serif;
}

.flexbox {
	display: flex;
	background: #4f4a41;
}
.blogtitle {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: ;
		border: 1px black solid;
		margin: auto;
		background: #112d32;
		color: #88bdbc;
		text-align: center;
}



/* color pallete HEX#s 

#88bdbc - light blue
#254e58 - darket blue
#112d32 - navy blue
#4f4a41 - blue grey
#6e6658 - silver

 */