* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	border: 3px black solid;
	width: 100%;
	max-width:1024px;
	margin: auto;
}


header {
	background: #a2332d;
	
}

nav {
	background: #aaa;
	border: 3px black solid;
}
nav a {
	float: left;
	width: 33.33%;
	background-color: #caa;

}

a:hover {
	background-color: #acf;
}
img {
	display: block;
	width: 100%;	
}

aside {
	background: #ffc675;
	border: 3px black solid;
}

article {
	background: #e89c6c;
}


#columns {
	background-color: #ffb627;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background:-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
body {
	background: tan;
}

#blog1 {
	background: teal;
	float: left;
	padding: 20px;
	width: 25%;

}
#blog2 {
	background: silver;
	float: left;
		padding: 20px;
		width: 25%;

}
#blog3 {
	background: navy;
	float: left;
		padding: 20px;
		width: 25%;


}
#blog4 {
	background: orange;
	float: left;
		padding: 20px;
		width: 25%;



}

.blogs {
	background: #aaa;
	border: 1px black solid;
	padding: 20px;
}

#blogs1 {
	background: #aaf;
	border: 1px black solid;
	padding: 20px;
}

#about {
	background: #bbb;
}