@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Verdana", sans-serif;
}
.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
nav{
	background: #eaece5;
	padding: 5px;
	margin: 2px;
}
#resume {
	float: left;
	width: 50%;
}
#blogs {
	float: right;
}

.background1 {
	background: #b2c2bf;
	width: 100%
}
img {
	width: 475px;
	float: left;
	margin: 10px;
	padding: 5px;
	border: double;
	border-color: #eaece5;
	background-image: :#c0ded9;
}
#easterisland {
	width: 475px;
	float: left;
	margin: 10px;
	padding: 5px;
	border: double;
	border-color: #eaece5;
	background-image: :#c0ded9;
}
#name {
	padding: 95px;
	text-align: justify;
	color:#eaece5;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 40px;
}

.slogan {
	font-family: 'Hind', sans-serif;
	float: left;
	text-align: justify;
	background: #eaece5;
	margin: 2px;
	padding:15px;
	width: 100%;
	font-size: 20px;
}

.blogtitle {
	float: left;
	width: 23.1%;
	padding: 2px;
	margin:2px;
	border:double;
	border-color: #eaece5;
	background: #b2c2bf;
	text-align: center;
}
/*
.columns {
	width: 100%;
}
*/
.flexbox {
	display: flex;
	flex-direction: row;
}


/* color pallete HEX#s #eaece5
HEX: #b2c2bf
HEX: #c0ded9
HEX: #3b3a30 */
