@import url('https://fonts.googleapis.com/css?family=Cinzel|Hind&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#wrapper {
	width: 100%;
	max-width:1024px;
	margin: auto;
}

header {
		background: #3b3a30;


}
nav {
	text-align: center;
	width: 100%;
}

nav a {

	display: inline-block;
	/*width: 100px;*/
	width: 32.3%;
	text-align: center;
	/*padding-left: 30%;
	padding-right: 30%;*/
}
nav a:hover {
	background: #eaece5; 
}


.container {
	width: 100%;
	max-width: 1024px;
	margin: 0, auto;
	border:double;

}
.background1 {
	background: #b2c2bf;
	width: 100%;
	/*padding: .5em;*/
/*	margin:auto;
*/	clear: both;
	border:5px black solid;

}

#name {
	color: #eaece5;
	background: teal;
	text-align: center;
	width: 50%;
	/*float: right;*/
	margin: auto;
	display: inline-block;
	padding: 2em;
}



#easterisland {
	width: 45%;
	/*display: inline;*/
	
	
}

.slogan {
	clear:both;
}
body {
	font-family: "Verdana", sans-serif;
}



/* color pallete HEX#s #eaece5
HEX: #b2c2bf
HEX: #c0ded9
HEX: #3b3a30 */